{% extends "layout.html" %}
{% block content %}
        <div class="'content-senction">
            {% for post in posts %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ username }}</a>
                  <small class="text-muted">{{ post[2] }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post[0] }}</a></h2>
                <p class="article-content">{{ post[1] }}</p>
              </div>
            </article>
            {% endfor %}
        </div>
{% endblock content%}